In [1]:
kingName = input("Greetings, Your Majesty. May you tell us your name? ")

Greetings, Your Majesty. May you tell us your name? James

In [2]:
numJewels = input("King " + kingName + ", how many jewels are there? ")

King James, how many jewels are there? 5

In [3]:
costPerJewel = input("King " + kingName + ", how much does each jewel cost? ")

King James, how much does each jewel cost? 100

In [4]:
totalPrizeSize = int(costPerJewel) * int(numJewels)
totalPrizeSize

500

In [5]:
dudeNames = ["Athos", "Pothos", "Aramis"]
dudeNames

['Athos', 'Pothos', 'Aramis']

In [6]:
dudeAges = [55, 34, 67]
dudeAges

[55, 34, 67]

In [7]:
dudeNames.insert(0, "D'Artagnan")
dudeNames

["D'Artagnan", 'Athos', 'Pothos', 'Aramis']

In [8]:
dudeAges.append(16)
dudeAges

[55, 34, 67, 16]

In [9]:
tempvar = dudeNames.pop(0)
tempvar

"D'Artagnan"

In [10]:
dudeNames.append(tempvar)

[55, 34, 67, 16]

In [11]:
print(dudeNames)
print(dudeAges)

['Athos', 'Pothos', 'Aramis', "D'Artagnan"]
[55, 34, 67, 16]

In [13]:
print("Total number of dudes: " + str(len(dudeNames)))

Total number of dudes: 4

In [14]:
dudeToKill = input("King " + kingName + ", please enter the number of the dude to kill.")

King James, please enter the number of the dude to kill.2

In [16]:
targetIndex = int(dudeToKill) - 1
print("Removing all history of the filthy traitor " + dudeNames[targetIndex] + ", aged " + str(dudeAges[targetIndex]))

Removing all history of the filthy traitor Pothos, aged 34

In [17]:
del dudeNames[targetIndex]
del dudeAges[targetIndex]

In [20]:
print(dudeNames)
print(dudeAges)

['Athos', 'Aramis', "D'Artagnan"]
[55, 67, 16]